.App {
  background-color: var(--boxColor);
}

.App__top {
  align-items: center;
  border-radius: 0 0 15px 15px;
  display: flex;
  flex-direction: column;
  height: 100%;
  min-height: 20vh;
  padding-top: 50px;
  position: relative;
  width: 100%;
  z-index: 1;
}

.App__top::after {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-image: url('../../public/lawBg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 0 700px var(--boxColor) inset;
  content: '';
  height: 100%;
  left: 0;
  opacity: 0.2;
  position: absolute;
  top: 0;
  width: 100%;
  z-index: -1;
}

.App__board {
  align-items: center;
  background-color: var(--mainBackgroundColor);
  border-radius: 30px 30px 0 0;
  box-shadow: 0 -20px 20px rgba(0, 0, 0, 0.02);
  display: flex;
  flex-direction: column;
  padding-top: 35px;
  width: 100%;
}

@media (min-width: 768px) {
  .App__top::after {
    background-image: none;
  }
  .App__top::before {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-image: url('../../public/lawBg-big.jpg');
    background-position: 100% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 0 0 700px var(--boxColor) inset;
    content: '';
    height: 100%;
    left: 0;
    opacity: 0.08;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
  }
}
