.header {
  color: var(--headerFontColor);
  text-align: center;
  width: 80%;
}

.header__title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
  z-index: 1;
}

.header__subtitle {
  font-size: 1.4em;
  font-weight: 400;
  margin-bottom: 3rem;
  z-index: 1;
}

@media (min-width: 768px) {
  .header__title {
    font-size: 3rem;
  }
  .header__subtitle {
    font-size: 1.6rem;
  }
}
