.org-board__org-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  list-style: none;
  margin-bottom: 4rem;
}

.org-list__org-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid black;
  width: 100%;
  max-width: 1000px;
  height: 100%;
  margin-bottom: 1rem;
  padding: 2rem 1.5rem;
  background-color: var(--listItemBacgroundColor);
  border-radius: 6px;
  border: 1px solid var(--listItemBorderColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  transition: 0.15s ease-in-out;
}

.org-list__org-item:hover {
  transform: scale(1.01);
  background-color: var(--mainBackgroundColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
}

.org-board {
  width: 90%;
}

.org-board__org-list {
  width: 100%;
}

.org-item__header-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.org-item__org-name {
  text-align: center;
}

.org-item__city-content {
  display: flex;
  align-items: center;
  justify-content: center;
  /* height: 100%; */
  margin-top: 1rem;
  background-color: var(--cityBoxColor);
  color: var(--boxColor);
  padding: 0.5rem;
  border-radius: 5px;
}

.city-content__icon {
  align-self: center;
}

.city-content__city-name {
  margin-left: 0.2rem;
}

.city-content__icon {
  display: flex;
  height: 100%;
  align-items: center;
}

.city-name__text {
  font-size: 1.3rem;
}

.org-item__org-data-content {
  font-size: 1.4rem;
  text-align: center;
}

.org-item__content--title {
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}
.org-item__content {
  color: var(--lighterFontColor);
}

.org-item__org-name-text {
  font-size: 1.8rem;
  color: var(--mainFontColor);
}

@media (min-width: 768px) {
  .org-list__org-item {
    margin-bottom: 2rem;
  }
  .org-item__org-name-text {
    font-size: 2rem;
  }
  .city-name__text {
    font-size: 1.4rem;
  }
  .org-item__org-data-content {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  .org-list__org-item {
    padding: 5rem 4rem;
  }
  .org-item__header-wrapper {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 80% 20%;
    grid-template-areas: 'orgName city';
    justify-items: start;
    margin-bottom: 5rem;
    align-items: center;
  }

  .org-item__org-name {
    text-align: start;
    grid-area: orgName;
  }

  .org-item__city-content {
    margin: 0;
    align-self: center;
    justify-self: end;
    grid-area: city;
  }
  .org-item__org-data-content {
    width: 100%;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    grid-template-areas: 'adress email phone coordinator';
  }
  .org-data-content-wrapper__adress {
    grid-area: adress;
  }

  .org-data-content-wrapper__email {
    grid-area: email;
  }

  .org-data-content-wrapper__phone {
    grid-area: phone;
  }

  .org-data-content-wrapper__coordinator {
    grid-area: coordinator;
  }

  .org-item__org-name-text {
    font-size: 2.2rem;
  }
  .city-name__text {
    font-size: 1.5rem;
  }
}
