.org-board__org-list {
  align-items: center;
  display: flex;
  flex-direction: column;
  list-style: none;
  margin-bottom: 4rem;
}

.org-list__org-item {
  align-items: center;
  background-color: var(--listItemBacgroundColor);
  border-radius: 6px;
  border: 1px solid black;
  border: 1px solid var(--listItemBorderColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.03);
  display: flex;
  flex-direction: column;
  height: 100%;
  margin-bottom: 1rem;
  max-width: 1000px;
  padding: 2rem 1.5rem;
  transition: 0.15s ease-in-out;
  width: 100%;
}

.org-list__org-item:hover {
  background-color: var(--mainBackgroundColor);
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.08);
  transform: scale(1.01);
}

.org-board {
  width: 90%;
}

.org-board__org-list {
  width: 100%;
}

.org-item__header-wrapper {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.org-item__org-name {
  text-align: center;
}

.org-item__city-content {
  align-items: center;
  background-color: var(--cityBoxColor);
  border-radius: 5px;
  color: var(--boxColor);
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  padding: 0.5rem;
}

.city-content__icon {
  align-self: center;
}

.city-content__city-name {
  margin-left: 0.2rem;
}

.city-content__icon {
  align-items: center;
  display: flex;
  height: 100%;
}

.city-name__text {
  font-size: 1.3rem;
}

.org-item__org-data-content {
  font-size: 1.4rem;
  text-align: center;
}

.org-item__content--title {
  font-weight: 600;
  margin: 1rem 0 0.5rem 0;
}
.org-item__content {
  color: var(--lighterFontColor);
}

.org-item__org-name-text {
  color: var(--mainFontColor);
  font-size: 1.8rem;
}

@media (min-width: 768px) {
  .org-list__org-item {
    margin-bottom: 2rem;
  }
  .org-item__org-name-text {
    font-size: 2rem;
  }
  .city-name__text {
    font-size: 1.4rem;
  }
  .org-item__org-data-content {
    font-size: 1.5rem;
  }
}

@media (min-width: 1024px) {
  .org-list__org-item {
    padding: 5rem 4rem;
  }
  .org-item__header-wrapper {
    align-items: center;
    display: grid;
    grid-template-areas: 'orgName city';
    grid-template-columns: 80% 20%;
    height: 100%;
    justify-items: start;
    margin-bottom: 5rem;
    width: 100%;
  }
  .org-item__org-name {
    grid-area: orgName;
    text-align: start;
  }
  .org-item__city-content {
    align-self: center;
    grid-area: city;
    justify-self: end;
    margin: 0;
  }
  .org-item__org-data-content {
    display: grid;
    grid-template-areas: 'adress email phone coordinator';
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(1fr);
    width: 100%;
  }
  .org-data-content-wrapper__adress {
    grid-area: adress;
  }
  .org-data-content-wrapper__email {
    grid-area: email;
  }
  .org-data-content-wrapper__phone {
    grid-area: phone;
  }
  .org-data-content-wrapper__coordinator {
    grid-area: coordinator;
  }
  .org-item__org-name-text {
    font-size: 2.2rem;
  }
  .city-name__text {
    font-size: 1.5rem;
  }
}
