.form__wrapper {
  display: flex;
  align-items: center;
  height: 100%;
  background-color: var(--searchBarBackgroundColor);
  margin: 1rem 0 5rem 0;
  width: 70vw;
  border-radius: 7px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
  max-width: 500px;
}

.form__input {
  background-color: transparent;
  border: none;
  color: var(--mainFontColor);
  font-size: 1.4rem;
  width: 100%;
  padding: 15px 10px;
}

.form__input::placeholder {
  color: var(--lighterFontColor);
  opacity: 0.9;
  font-family: 'Poppins', sans-serif;
}

.form__input:focus {
  outline: none;
}

.form__icon {
  display: flex;
  color: var(--lighterFontColor);
  margin: 0 1rem 0 1.5rem;
  transform: scale(1.2);
}

@media (min-width: 768px) {
  .form__wrapper {
    margin: 1rem 0 6rem 0;
  }
  .form__input {
    font-size: 1.5rem;
  }
  .form__icon {
    transform: scale(1.3);
  }
}
